
#
# Prerequisites
#
*.d
*.dep

#
# Object files
#
*.i
*.ko
*.lst
*.o
*.o.*
*.obj
*.order
*.slo
*.symtypes

#
# Linker Output
#
*.axf
*.exp
*.lnp
*.iex
*.ilk
*.map

#
# Precompiled Headers
#
*.gch
*.pch

#
# Libraries
#
*.a
*.la
*.lai
*.lib
*.lo

#
# Shared Libraries
#
*.dll
*.dylib
*.so
*.so.*

#
# Fortran Module Files
#
*.mod
*.smod

#
# Executables
#
*.app
*.bin
*.elf
*.exe
*.hex
*.img
*.imx
*.out
*.x86_64

#
# Debug Files
#
*.dSYM/
*.dwo
*.su
*.idb
*.pdb

#
# Kernel Module Compile Results
#
*.cmd
*.mod*

#
# Generated Config Files
#
.config
.config.*

#
# Generated Include Files
#
include/config
include/generated
arch/*/include/generated

#
# Package Files
#
*.bz2
*.gcno
*.gz
*.lz4
*.lzma
*.lzo
*.patch
*.tar
*.xz

#
# CMake Files
#
_deps
cmake_install.cmake
compile_commands.json
install_manifest.txt
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CTestTestfile.cmake
CMakeUserPresets.json
Testing/
build/

#
# Keil MDK-ARM Files
#
*.bak
*.htm
*.log
*.sct
*.scvd
*.uvguix
*.uvguix.*
DebugConfig/
Listings/
Objects/

#
# RUST target files
#
target/

#
# Doxygen generated document files
#
docs/doxygen

#
# macOS shits
#
.DS_Store

!.gitignore
!.gitattributes
